* {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.post-container {
  width: 800px;
  border-radius: 9px;

  padding: 20px;
  margin: 20px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.post-container h2 {
  font-size: 24px;
  
}

.post-img {
  max-width: 500px;
  margin: 20px 0;
}

ul {
  list-style: none;
}

